.cardCont{

  margin: 5px auto;
  max-width: 1200px;
  padding: 0 15px;

	
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
	gap:20px;
}

.card{
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	min-height: 320px;
	border-radius: 10px;
	background-color: white;
}

.cardImg{
  background: linear-gradient(90deg, rgba(4,102,200,1) 0%, rgba(3,83,164,1) 100%);
  width: 100%;
  aspect-ratio: 16 / 9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.cardImg > i{
	font-size: 100px;
	color:white;
}

.cardImg > img{
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
	border-radius: 10px;
}

.cardContent{
	padding: 10px 15px;
}
.cardTitle{
	font-size: 28px;
	font-weight: bold;

}
.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 6;
	line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 10px;
}

.tagsCont{
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.tagsCont > div{
	text-align: center;
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
	background-color: #495263;
	padding: 2.5px;
	border-radius: 5px;
	color:white;

}
