@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Sora:wght@100..800&display=swap');

html,body{
	background-color: hsl(0, 0%, 13%);
	padding: 0;
	margin: 0;
}
*{
	font-family: "Sora", sans-serif;
	color:#cccccc;
}

header{
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	background-color: hsl(0, 0%, 9%);
	color:white;
	font-size: 30px;
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255,255 , 8%);
	display: flex;
	justify-content: space-between;

}
.headerLinks{
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}
.headerLinks > a{
	text-decoration: none;
	font-weight: 700;
	color:hsl(0, 0%, 70%);
}
.headerLinks > a:hover{
	color:hsl(0, 0%, 88%);

}

article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: hsl(0, 0%, 9%);
	box-sizing: border-box;
	max-width: 1600px;
	width: calc(100% - 30px);
	margin-top: 10px;
	margin-inline: auto;
	padding: clamp(16px, 3vw, 25px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255,255 , 12%);
}

.landingName > h1{
	font-size: 80px;
	color:hsl(0, 0%, 98%);
	margin: 0px !important;
	text-align: center;
}

.landingSubText{
	font-size: 20px;
	color:#cccccc;
	font-weight: 500;
	text-align: center;
	margin: 2.5px;
}

.landingButtons{
	margin: 25px;
	display: grid;
	gap: 12px;  
	grid-template-columns: repeat(auto-fit, 180px);
	justify-content: center;  
	width: 100%;
}

.landingButton{
	font-size: 20px;
	background: #023E7D;
	background: linear-gradient(140deg,#023e7d 0%, #023e7d 45%, #0353a4 100%);
	padding: 10px;
	border-radius: 8px;
	color:white;
	text-align: center;
	font-weight: 500;
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}


.subArticle{
	align-items: start !important;
	padding: clamp(8px, 1vw, 12px);
}

.subArticle > h2{
	margin: 10px;
	color:hsl(0, 0%, 90%);
	display: flex;
	align-items: center;
	gap:7px;
	font-size: 26px;
}
.titleCircle{
	width: 20px;
	height: 20px;
	background-color: rgba(3, 83, 164, 1);
	border-radius: 20px;
}

.subArticleContent{
	padding: 5px 15px;
	display: flex;
	gap: 10px;
}

.mainLogo{
	width: 180px;
	background-color: rgba(255, 255,255 , 2%);
	border: 2px solid rgba(255, 255,255 , 12%);
	border-radius: 10px;

}
.subArticleContent p{
	font-size: 19px;
	margin: 0px;
}

.expLista{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap:32px;
}

.bloqueEmpresa{
	display: flex;
	gap: 10px;
}

.logoEmpresa{
	width: 220px !important;
	height: 80px;
	background-color: rgba(255, 255,255 , 2%);
	border: 2px solid rgba(255, 255,255 , 12%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.logoEmpresa > img{
	width: 220px;
	object-fit: cover;
}

.bloqueEmpresaTexto{
	border-left: 2px solid rgba(255, 255,255 , 12%);
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	gap:10px;

}

.empresaPos{
	font-weight: bold;
	font-size: 16px;
	color:hsl(0, 0%, 90%);
}
.empresaFecha{
	font-weight: 500;
	font-size: 14px;
}

.empresaDescrip{
	margin: 1px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 20px;
}

.empresaDescrip > p{
	font-size: 17px;
}



.habilidadesCont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
	padding: 15px;
}

.bloqueHabilidad{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	background-color: rgba(255, 255,255 , 2%);
	border: 2px solid rgba(255, 255,255 , 12%);
	border-radius: 10px;
	padding: 10px;
}
.bloqueHabilidad > i{
	font-size: 50px;
	color: #0466c8ff;
}

.habTexto{
	color: hsl(0, 0%, 95%);
	font-weight: bold;
}